@model IEnumerable<Arac>
@{
    ViewData["Title"] = "Tüm Araçlarımız";
}

<h2>Tüm Araçlarımız</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="flot-chart-wp mg-t-30">
                    <div class="flot-chart flot-chr-pro" style="padding: 0px; position: relative;">
                        <img src="/Img/Cars/@item.Resim1">
                        <h5>@item.Marka.Adi @item.Modeli @item.KasaTipi</h5>
                        @item.Fiyati ₺
                    </div>
                    <a class="btn btn-outline-dark mt-auto" href="/Arac/Index/@item.Id">İncele</a>
                </div>
            </div>
        }
    </div>
</div>  